h2 {
  width: 100%;
}

.Expenses {
  display: flex;
  border: solid;
  width: auto;
  background-color: whitesmoke;
  padding-bottom: 0em;
  margin-right: 0em;
}

@media screen and (min-width: 1300px) {
  .Expenses {
    width: 100%
  }
}

@media screen and (min-width: 820px) {
  .Expenses {
    margin-right: 1em;
  }
}