.TotalExpenditure {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  width: 90%;
}

.TotalExpenditure p {
  margin-bottom: 0em;
}

.income-field {
  display: flex;
}

#income {
  align-self: flex-end;
  resize: none;
  vertical-align: baseline;
  height: 18px;
}