.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.inputs {
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

div h1 {
  display: flex;
  justify-content: center;
}

table {
  padding-left: 2em;
}

.total {
  width: 60%;
  resize: none;
}